/src/vendor
/src/node_modules
/src/.env
/src/public/build
/src/public/storage
/src/storage/framework/cache/*
/src/storage/logs/*.log
.env
/src/public/js/filament
/src/public/css/filament
/src/public/fonts/filament
